.plans{
  color: #fff;
  background-color: rgb(78, 80, 156);

  /* padding: 5%; */
  min-height: 900px; 
   font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* font-family: "montserrat"; */
}

/* TITLE */

.plans-title-container{
  /* margin: 0 auto;
   */
   
}

.plans-title{

}


/* PLANS */



/* .prices-cards{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 0px
} */

.plan-card{
  height: 550px;
  width:360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(#1f1b61,#110f36); */
  background: 
  #110f36;

  border-radius: 15px;
}

.plan-card .title{
  font-weight: 300;
  text-align: center;
  font-size: 25px;

  
}

.plan-card .mega
{
/* color:#ffffff; */
text-align:center;
vertical-align:text-top;
font-size:45px;
box-shadow: "1px 5px 5px rgba(0,0,0,0.25)"

}


.plan-card-header{
  padding: 25px;
  text-align: center;

}

.plan-feature-list{
  padding: 0;
  margin: 0;
}

.plan-feature{
  margin: 0;
  padding-left: 25px;
  font-size: 15px;
  position: relative;
}

.plan-feature::before{
  left: 0;
  content: "\2714";
  color: #fff;
  position: absolute;
}


