.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  left: 0;
  padding: 10px 50px;
  transition:all .2s ease-out ;
  position: fixed;  
  z-index: 100;
  
}
.navbar.sticky{
  background-color: #000000ec;
}

/* LOGO */

.logo-container{
  display: flex;
  align-items: center;
}


.navbar-logo{
  margin: 5px 0;
  width: 200px;
}

.logo-text{
  color: white;
  font-size: 35px;
  padding-left: 5px;
}

/* MENU */

.hide-menu{
  display: none;
}

.menu-icon-container{
  display: none;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-lines{
  z-index: 2;
  
  width: 35px;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}

.menu-lines::before, .menu-lines::after{
  content: "";
  position:absolute;
  width: 35px;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}

.menu-lines::before{
  transform: translateY(-13px)
}

.menu-lines::after{
  transform: translateY(13px)
}

/* MENU ANIMATION */

.menu-icon-container.active .menu-lines{
  transform: translateX(-40px);
  background: transparent;
}

.menu-icon-container.active .menu-lines::before{
  transform: rotate(45deg) translate(35px, -35px)
}

.menu-icon-container.active .menu-lines::after{
  transform: rotate(-45deg) translate(35px, 35px)
}

/* NAVBAR LISTS */

.navbar-list-container{
  display: flex;
}

.navbar-items{
  position: relative;
  padding: 8px  5px;
  margin: 0 20px;
  color: #fdfdfdb2;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
}

/* UNDERLINE */

.navbar-items::after{
  content: "";
  position:absolute;
  border-radius: 2px;
  background-color: #6968ca;
  height: 3px;
  width: 0;
  bottom: -3px;
  left: 0;
  transition: 0.2s;
}

.navbar-items:hover{
  color: #fff;

}
.navbar-items:hover::after{
  width: 100%;
}

/* ACTIVE ITEM */

.navbar-items.active{
  color: #fff;
}
.navbar-items.active::after{
  width: 100%;
}


@media screen and (max-width: 890px) {

    .navbar{
      width: 0 auto;
    }
  
  .hide-menu{
    display: block;
  }

  .navbar-list-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 0px;
    height: 100vh;
    right: -100%;
    z-index:2;
    transition: all 0.5s ease-in-out;
    background: rgb(24, 24, 24);

  }

  .navbar-list-container.active-menu{
    right: 0;
    z-index: 1;
  }

  .navbar-items{
    display: block;
    padding: 15px;
    cursor: pointer;
    background-color: #6a68ca07;
    position: relative;
    text-align: center;
  }


  .navbar-list-container li:first-child{
    padding-top: 65px;
  }

  
  .navbar-items:hover{
    color: #fff;
  
  }
  .navbar-items:hover::after{
    width: 0;
  }
  
}

@media screen and (max-width: 600px) {
  .navbar{
    background-color: #000000ec;

  }
}