.navbar{
  width: 100%;
  padding: 15px
}

.navbar-list-container{
  /* width: 100%; */
  display: flex;

  /* background-color: rgb(69, 69, 70); */
}

.navbar-list-container-active-menu{
  
}

.navbar-logo {
  /* padding-left:15px ; */
  /* width: 150px; */
}

.menu-icon-container{
  display: none;
  margin: 0 10px;
  cursor: pointer;
}

.menu-icon{
font-size: 25px;
}
.menu-icon-t{
font-size: 23px;
  
}




/* .fa-bars{
  color:aliceblue
}

.fa-times{
  color:aliceblue
} */

.navbar-items{
  padding: 8px  15px;
  margin: 0 10px;
  color: aliceblue;
  font-weight: 700;
  border-radius: 5px;
}

.navbar-items.active{
  /* color: rgb(39, 90, 134); */
  
}

.navbar-items:hover{
  background-color: rgb(61, 61, 214);
  transition: all 0.3s ease-out;

} 

@media screen and (max-width: 890px) {
.menu-icon-container{
    display: block;
    margin: 0 10px;
    cursor: pointer;
}
.navbar-list-container{

  display: flex;
  flex-direction: column;
  position: absolute;

  width: 350px;
  /* justify-content: center; */
  /* align-items: center; */
  top: 80px;
  height: 500px;
  right: -100%;
}

.navbar-list-container.active-menu{
  /* left: 0; */
  right: 0;
  background: #542183;
  /* width:100%; */
  transition: all 0.5s ease
  ;
  z-index: 1;
  padding: 10px 0;
}

.navbar-items{
  display: block;
  /* width: 100%; */
  padding: 10px;
  position: relative;
width: auto;  
  /* table-layout: initial; */
  /* margin: 0 10px; */
  text-align: center;

}
}

@media screen and (max-width: 600px) {
  .navbar-list-container{
    width: 100%;
  }
}