.plans{
  color: #fff;
  text-align: center;

  min-height: 900px; 
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

}

/* PLANS */



.plans-container{
  display: flex;
  align-items: center;
  margin: 25px;
}

.plan-card{
  position: relative;
  
  padding: 20px;
  margin: 0 10px;
  min-height: 550px;
  min-width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background: linear-gradient(#fff,#d8d8d8);


  border-radius: 25px;
}

.top-seller-card{
  display: none;
  top: -35px;
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;
  position: absolute;
  height: 100px;
  width: 180px;
  text-align: center;
  background: #ee7300;
}

.top-seller-card p {
  font-family: 'Barlow', sans-serif;

  font-size: 15px;
}



.plan-card .title{
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;  
}

.plan-card .mega{
  text-align:center;
  vertical-align:text-top;
  font-size:30px;

}


.plan-card-header{
  padding: 25px;
  text-align: center;

}

.plan-feature-list{
  padding: 0;
}

.plan-feature{
  margin: 15px 0;
  padding: 8px;
  font-size: 18px;
  position: relative;
}

.plan-feature::before{
  margin-right: 5px;
  content: "\2714";
  color: #000;
}

/* BTN */
.plan-btn{

  margin:15px 0; 
  color:#fff;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  transition: 1s all ease;
  cursor: pointer;
  transition: all .2s ease;
  background: #1C1A72;
}

.plan-btn:hover{

}

/* SPECIAL CARD */



.plan-card.special{
  min-height: 600px;
  min-width:350px;
  min-width:350px;
  color: #fff;
  background: linear-gradient(#4442B0,#1F1E75);
}


.plan-card.special .plan-feature-list{
  margin: 25px 0;
}

.plan-card.special .plan-feature::before{
  color: #fff;

  
}


.plan-card.special .top-seller-card{
  display: block;
}

.plan-card.special .plan-btn{
  background: #fff;
  color: #1C1A72;

}


/* price */

.price{
  display: flex;
}

.plan-currency{
  margin-right: 5px;
  font-size: 18px;
  justify-self: flex-start;
  font-weight: 500;
  color: #4442b0;
  font-family: 'Barlow', sans-serif;
}

.plan-price{
  filter: drop-shadow(0px 5px 2px rgba(0,0,0,0.25));
  font-family: '', sans-serif;
  font-size: 60px;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
}

.plan-month{
  font-weight: 500;
  color: #4442b0;
  font-size: 20px;
  
  align-self: flex-end;
font-family: 'Barlow', sans-serif;
  
}

.special .plan-currency{
  color: #fff;
}

.special .plan-month{
  color: #fff;
}


@media screen and (max-width: 1200px) {
  .plans-container{
    flex-direction: column;
  }

  .plan-card{
    margin: 10px 0;
  }

  .plan-card.special{
    margin-top: 40px;
    color: #fff;
    background: linear-gradient(#4442B0,#1F1E75);
  }

  .plans-title-container{
    margin-top: 50px;
  
  
    
  }
  
}